## webframework
fastapi==0.78.0
pydantic==1.9.1
starlette==0.19.1
anyio==3.6.1

## web server
gunicorn==20.1.0
uvicorn==0.18.2

## db driver
asyncmy==0.2.5
## orm
tortoise-orm==0.19.1
## migrate
aerich==0.6.3

## toml file read
pytomlpp==1.0.11

## log
loguru==0.6.0

## password
cryptography==37.0.4
passlib==1.7.4

## jwt
PyJWT==2.4.0

## redis
redis==4.3.4
hiredis==2.0.0

## file
python-multipart==0.0.5
aiofiles==0.8.0

## speed
Cython==0.29.30
uvloop==0.16.0
httptools==0.4.0



#########################################
## mqtt
paho-mqtt==1.6.1

## celery
celery==5.2.7

## test
pytest==7.1.2
requests==2.28.1
# test report
pytest-html
pytest-metadata

## http request
httpx
aiohttp

## orm cli
tortoise-cli
