aerich==0.6.3
aiofiles==22.1.0
aiosqlite==0.17.0
amqp==5.1.1
anyio==3.6.2
async-timeout==4.0.2
asyncmy==0.2.5
attrs==22.1.0
billiard==3.6.4.0
celery==5.2.7
certifi
cffi==1.15.1
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
cryptography==38.0.3
dictdiffer==0.9.0
exceptiongroup==1.0.4
fastapi==0.87.0
h11==0.14.0
hiredis==2.0.0
httpcore==0.16.1
httptools==0.5.0
httpx==0.23.1
idna==3.4
iniconfig==1.1.1
iso8601==1.1.0
kombu==5.2.4
loguru==0.6.0
packaging==21.3
paho-mqtt==1.6.1
passlib==1.7.4
pluggy==1.0.0
prompt-toolkit==3.0.33
pycparser==2.21
pydantic==1.10.2
PyJWT==2.6.0
pyparsing==3.0.9
pypika-tortoise==0.1.6
pytest==7.2.0
python-multipart==0.0.5
pytomlpp==1.0.11
pytz==2022.6
redis==4.3.5
rfc3986==1.5.0
six==1.16.0
sniffio==1.3.0
starlette==0.21.0
tomli==2.0.1
tomlkit==0.11.6
tortoise-orm==0.19.2
typing_extensions==4.4.0
uvicorn==0.20.0
uvloop==0.17.0
vine==5.0.0
wcwidth==0.2.5
