aerich==0.5.8
aioredis==2.0.0
aiosqlite==0.17.0
asgiref==3.4.1
async-timeout==3.0.1
asyncmy==0.2.3
bidict==0.21.3
certifi==2021.5.30
cffi==1.14.6
click==8.0.1
cryptography==35.0.0
Cython==0.29.24
ddlparse==1.10.0
dictdiffer==0.9.0
fastapi==0.68.2
gunicorn==20.1.0
h11==0.12.0
hiredis==2.0.0
httptools==0.3.0
iso8601==0.1.16
loguru==0.5.3
passlib==1.7.4
pycparser==2.20
pydantic==1.8.2
PyJWT==2.2.0
pyparsing==2.4.7
pypika-tortoise==0.1.1
python-engineio==4.3.0
python-multipart==0.0.5
python-socketio==5.5.0
pytomlpp==1.0.3
pytz==2021.1
six==1.16.0
starlette==0.14.2
tortoise-orm==0.17.8
typing-extensions==3.10.0.2
uvicorn==0.15.0
uvloop==0.16.0
websockets==10.1
