## webframework
fastapi==0.100.1
pydantic==2.1.1
starlette==0.27.0
anyio==3.7.1

## web server
uvicorn==0.23.2

## db driver
asyncmy==0.2.8
## orm
tortoise-orm==0.19.3
## migrate
aerich==0.6.3

## toml file read
pytomlpp==1.0.13

## log
loguru==0.7.0

## password
cryptography==40.0.2
passlib==1.7.4

## jwt
PyJWT==2.8.0

## redis
redis==4.6.0
hiredis==2.2.3

## file
python-multipart==0.0.6
aiofiles==23.1.0

## speed
uvloop==0.17.0
httptools==0.6.0

# request
httpx==0.24.1


#########################################
## web server
gunicorn==20.1.0

## mqtt
paho-mqtt==1.6.1

## celery
celery==5.2.7

## test
pytest==7.2.2
# test report
pytest-html
pytest-metadata

## http request
aiohttp

## orm cli
tortoise-cli
