aerich==0.5.5
aiomysql==0.0.21
aioredis==2.0.0
fastapi==0.68.0
gunicorn==20.1.0
httptools==0.2.0
loguru==0.5.3
PyJWT==2.1.0
python-multipart==0.0.5
python-socketio==5.4.0
starlette==0.14.2
tortoise-orm==0.17.6
uvicorn==0.14.0
uvloop==0.15.3
