# web framework
fastapi==0.68.0

# orm and database client
tortoise-orm==0.17.7
aiomysql==0.0.21
# migrate
aerich==0.5.8

# web server
gunicorn==20.1.0
uvicorn==0.14.0

# speed
uvloop==0.15.3
httptools==0.2.0

# redis
aioredis==2.0.0
hiredis==2.0.0

# log
loguru==0.5.3

# JSON Web Token
PyJWT==2.1.0

# fastapi UploadFile
python-multipart==0.0.5

# socket.io
python-socketio==5.4.0
websockets==9.1

# hash
passlib==1.7.4
