aerich==0.6.0
aiofiles==0.8.0
aioredis==2.0.0
aiosqlite==0.17.0
amqp==5.0.9
asgiref==3.4.1
async-timeout==4.0.1
asyncmy==0.2.3
attrs==21.2.0
billiard==3.6.4.0
celery==5.2.3
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.9
click==8.0.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
cryptography==36.0.1
Cython==0.29.26
ddlparse==1.10.0
Deprecated==1.2.13
dictdiffer==0.9.0
fastapi==0.68.2
gunicorn==20.1.0
h11==0.12.0
hiredis==2.0.0
httptools==0.3.0
idna==3.3
iniconfig==1.1.1
iso8601==0.1.16
kombu==5.2.3
loguru==0.5.3
packaging==21.3
paho-mqtt==1.6.1
passlib==1.7.4
pluggy==1.0.0
prompt-toolkit==3.0.24
py==1.11.0
pycparser==2.21
pydantic==1.8.2
PyJWT==2.3.0
pyparsing==3.0.6
pypika-tortoise==0.1.1
pytest==6.2.5
python-multipart==0.0.5
pytomlpp==1.0.9
pytz==2021.3
redis==4.1.0
requests==2.26.0
six==1.16.0
starlette==0.14.2
toml==0.10.2
tomlkit==0.7.2
tortoise-orm==0.17.8
typing_extensions==4.0.1
urllib3==1.26.7
uvicorn==0.16.0
uvloop==0.16.0
vine==5.0.0
wcwidth==0.2.5
wrapt==1.13.3
