aerich==0.5.3
aiomysql==0.0.21
aioredis==1.3.1
aiosqlite==0.16.1
async-timeout==3.0.1
bidict==0.21.2
certifi==2020.12.5
click==7.1.2
ddlparse==1.9.0
dictdiffer==0.8.1
fastapi==0.63.0
h11==0.12.0
hiredis==2.0.0
httptools==0.2.0
iso8601==0.1.14
loguru==0.5.3
passlib==1.7.4
pydantic==1.8.1
PyJWT==2.1.0
PyMySQL==0.9.3
pyparsing==2.4.7
pypika-tortoise==0.1.0
python-engineio==4.2.0
python-multipart==0.0.5
python-socketio==5.3.0
pytz==2020.5
six==1.15.0
starlette==0.13.6
tortoise-orm==0.17.2
typing-extensions==3.7.4.3
uvicorn==0.13.4
uvloop==0.15.2
websockets==8.1
