##################################################################################
# 环境, prd, test
CODE_ENV = 'prd'

##################################################################################
# redis

REDIS_HOST = '127.0.0.1'
REDIS_PORT = 6379
REDIS_PASSWD = '12345678'

TEST_REDIS_HOST = '127.0.0.1'
TEST_REDIS_PORT = 6379
TEST_REDIS_PASSWD = '12345678'

##################################################################################
# mysql

DB_USER = 'root'
DB_PASSWD = '12345678'
DB_HOST = '127.0.0.1'
DB_PORT = 3306
DB_DATABASE = 'ftm_prd'
DB_MAX_SIZE = 5

TEST_DB_USER = 'root'
TEST_DB_PASSWD = '12345678'
TEST_DB_HOST = '127.0.0.1'
TEST_DB_PORT = 3306
TEST_DB_DATABASE = 'ftm_test'
TEST_DB_MAX_SIZE = 2

##################################################################################
# 日志

LOG_LEVEL = 'INFO'
#LOG_PATH = '/srv/fastapi_tortoise_pgsql/logs/x.log'
LOG_PATH = '/home/logs/x.log'

##################################################################################

# schema swagger
INCLUDE_IN_SCHEMA = True

##################################################################################
# token

ADMIN_SECRETS = b'SZjj5S8NgOcuq8LH+bAtDw=='
TOKEN_EXP_DELTA_ADMIN = 864000

##################################################################################
# socket.io
SOCKET_IO_NAMESPACE = '/'
SOCKET_IO_PATH = 'socket.io'
