##################################################################################
# 环境, prd, dev, test
CODE_ENV = 'dev'

##################################################################################
# redis

PRD_REDIS_HOST = 'host'
PRD_REDIS_PORT = 6379
PRD_REDIS_DB = 0
PRD_REDIS_USER = None
PRD_REDIS_PASSWD = None

DEV_REDIS_HOST = 'host'
DEV_REDIS_PORT = 6379
DEV_REDIS_DB = 0
DEV_REDIS_USER = None
DEV_REDIS_PASSWD = None

TEST_REDIS_HOST = 'host'
TEST_REDIS_PORT = 6379
TEST_REDIS_DB = 0
TEST_REDIS_USER = None
TEST_REDIS_PASSWD = None

##################################################################################
# mysql

PRD_MYSQL_URI = 'mysql://root:passwd@host:port/db'
DEV_MYSQL_URI = 'mysql://root:passwd@host:port/db'
TEST_MYSQL_URI = 'mysql://root:passwd@host:port/db'

##################################################################################
# 日志

LOG_LEVEL = 'DEBUG'
LOG_PATH = '/srv/services/fastapi_tortoise_mysql/logs/x.log'

##################################################################################
# token

ADMIN_SECRETS = b'SZjj5S8NgOcuq8LH+bAtDw=='
TOKEN_EXP_DELTA_ADMIN = 86400
