[mysqld]
port = 3306
mysqlx_port = 33060

bind-address = 0.0.0.0

# passwd
default-authentication-plugin=mysql_native_password

# character
character-set-server = utf8mb4

# order
collation-server = utf8mb4_general_ci

# character
init_connect='SET NAMES utf8mb4'

# wait timeout
# wait_timeout = 3600

# tz
default-time-zone=+08:00

# max connections
max_connections=2000
